body {
  display: flex; /* flexbox to center content*/
  justify-content: center; /* horizonatly center*/
  flex-direction: column; /* stack elements vertically*/
  align-items: center; /* vertically center*/
  height: 100vh; /*Body takes up full viewport height */
  background-image: url("./images/lotr-background1.jpg");
  background-size: cover; /* Background fills viewport*/
  background-repeat: no-repeat; /* prevent background from repeating*/
}

.quote {
  margin-top: 20px; /* Add space above quote*/
  text-align: center; /* Center*/
}

.quote blockquote {
  color: white;
  font-family: "Dancing Script";
  font-size: 3rem;
  margin-top: -400px; /*Move quote up */
}

#search-input {
  width: 80%; /* Inout takes up 80% of container eidth*/
  padding: 10px;
  border-radius: 5px; /* Rounds corners*/
  border: none;
  box-sizing: border-box; /* Includes padding and border in width/height*/
  text-align: center;
  border-radius: 20px; /* Round corners*/
}

nav ul {
  list-style-type: none; /* Remove bullets*/
  padding: 0;
  text-align: center;
  margin-top: 30px; /* Add space above*/
}

nav ul li {
  display: inline-block;
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  font-size: 1.2rem;
  color: #fff;
}

nav ul li a:hover {
  text-decoration: underline;
}
.character-results {
  display: grid; /* display results in grid*/
  grid-template-columns: repeat(
    auto-fill,
    minmax(250px, 1fr)
  ); /* Responsive grid with min width of 250px*/
  gap: 20px; /* Space between grid items*/
  padding: 20px;
  max-height: 70vh; /* Limit height of results container*/
  overflow-y: auto; /* Add verticle scrolling if content is large enough*/
}

.character-card {
  background: #f4f4f4;
  border-radius: 8px; /*Round corners */
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add shadow*/
  text-align: center;
}

.character-card h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.character-card p {
  margin: 5px 0;
}

.character-card a {
  text-decoration: none; /*Remove underlines */
  color: #007bff;
  font-weight: bold;
}

.character-card a:hover {
  text-decoration: underline;
}

.loading {
  text-align: center;
  font-size: 1.5rem;
  color: white;
}

.no-results {
  text-align: center;
  color: white;
  font-weight: bold;
  margin-top: 2rem;
  font-size: 1.2rem;
}

.quote-generator {
  margin-top: 2rem;
  text-align: center;
}

.quote-generator blockquote {
  font-style: italic;
  margin-top: 1rem;
}
